<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/turesuelve
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      admin
   </property>
   
   <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
   
   <!-- JDBC connection pool (use the built-in) -->
	<property name="connection.pool_size">1</property>
	
	<!-- Disable the second-level cache  -->
	<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

	<!-- Echo all executed SQL to stdout -->
	<property name="show_sql">true</property>
	
	<!-- Drop and re-create the database schema on startup -->
	<property name="hbm2ddl.auto">create</property>
	
	
   <!-- List of XML mapping files -->
   <!-- <mapping class="com.turesuelve.hibernate.Student_Info"/>-->
   <mapping resource="resources/org/hibernate/turesuelve/com/Usuario.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/TarjetaCredito.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Ciudad.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Promocion.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/CategoriaGeneral.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Empresa.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Vale.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Compra.hbm.xml"/>
   <mapping resource="resources/org/hibernate/turesuelve/com/Oferta.hbm.xml"/>
   
</session-factory>
</hibernate-configuration>